::selection {
    background: #333432;
    color: #ffffff;
 }

.Main {
        .mainBanner {
            width: 100%;
            margin-bottom: 20px;

            .mainImg {
                width: 100%;
            }
        }

        .centerBanner {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 500px;
            margin-bottom: 20px;
            animation: fadeInUp 3s;
            
                .midLeftBanner {
                    display: inline-flex;
                    width: 65%;
                    height: 100%;
                    margin-right: 20px;
                    background-image: url("../../images/Main/brush.jpg");
                    background-repeat: no-repeat;
                    background-size: cover;

                    .centerBannerText {
                        padding: 70px 100px;
                        line-height: 50px;

                            .centerEngTitle {
                                font-weight: 900;
                                font-size: 24px;
                            }

                            .centerKorTitle {
                                font-weight: 900;
                                font-size: 26px;
                            }

                            .storeLink {
                                text-decoration: underline;
                                font-weight: bold;
                                color: black;
                            }

                            .storeLink:hover {
                                opacity: 0.5;
                            }
                    }
                }

                .midRightBanner {
                    display: inline-flex;
                    width: 35%;
                    height: 100%;
                    background-image: url("../../images/Main/coffeebeans.jpg");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }
        }

        .BestItemSection {
            display: flex;
            justify-content: center;
            margin-bottom: 100px;
        }

        .bottomBanner {
            background-image: url("../../images/Main/office.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 500px;

            .bottomBannerText {
                animation: fadeInUp 4s;
                padding: 80px 100px;
                line-height: 50px;
                font-weight: 900;
            }

            .bannerTitle {
                font-size: 24px;
            }
        }
    }

