@import "../../styles/common.scss";
@import "../../styles/reset.scss";

.Agreement {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
    max-width: 1280px;
    width: 1280px;

    button {
        width: 16px;
        height: 16px;
        margin-right: 20px;
        border: 1px solid #e0e0e0;
        background-color: $bgWhite;
        border-radius: 3px;
    }
    .checkFirst {
        margin-bottom: 10px;
        cursor: pointer;
    }
    .checkSecond {
        margin-bottom: 10px;
        cursor: pointer;
    }
    .checkThird {
        margin-bottom: 10px;
        cursor: pointer;
    }
}
