.cartContainer {
  padding: 50px 30px;
  margin: 0 auto;

  .CartList {

    h1 {
      margin-bottom: 30px;
      font-size: 24px;
      font-weight: 700;
    }

    table {
      width: 100%;
      thead { 
        border-bottom: 1px solid #E5E5E5;
        color: #585757;
        font-size: 14px;
        font-weight: 500;

        tr {
          
          th {
            padding: 10px 30px;
          }
        }
      }

      tbody {
        width: 100%;
        color: black;
        font-size: 14px;

        tr {
          height: 60px;
          border-bottom: 1px solid #E5E5E5;

          td {
            padding: 10px 30px;
            text-align: center;
            vertical-align: center;

            &:nth-child(2) {

              img {
                margin-right: 10px;
              }
              display: flex;
              align-items: center;
            }

            &:nth-child(3) {
              p {
                margin-bottom: 7px;
              }

              button {
                padding: 5px 10px;
                border: 1px solid #E5E5E5;
                border-radius: 16px;
                background-color: #fff;
              }
            }

            select {
              padding: 7px 0;
              border: none;
              border-bottom: 1px solid #E5E5E5;
              background-color: transparent;
            }

            &:nth-child(5) {
              select {
                margin-bottom: 7px;
              }
            }

            .deleteBtn {
              padding: 5px 10px;
              border: 1px solid #E5E5E5;
              border-radius: 16px;
              background-color: #fff;
            }
          }
        }

      }
    }
}
}
