.cartContainer {
  padding: 50px 30px;
  margin: 0 auto;

  .CartList {

    .cartHeader {
      display: flex;

      h1 {
        margin: 0 10px 30px 0;
        font-size: 24px;
        font-weight: 700;
      }
  
      .cartListLength {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        color: #fff;
        background-color: #373737;
        font-size: 12px;
        text-align: center;
      }
    }

    table {
      width: 100%;
      margin-bottom: 30px;
      thead { 
        border-bottom: 1px solid #E5E5E5;
        color: #585757;
        font-size: 14px;
        font-weight: 500;

        tr {
          
          th {
            padding: 10px 30px;
          }
        }
      }

      tbody {
        width: 100%;
        color: black;
        font-size: 14px;

        tr {
          height: 60px;
          border-bottom: 1px solid #E5E5E5;

          td {
            padding: 10px 30px;
            text-align: center;
            vertical-align: center;

            &:nth-child(2) {

              img {
                width: 60px;
                height: 60px;
                margin-right: 10px;
              }
              display: flex;
              align-items: center;
            }

            &:nth-child(3) {
              p {
                margin-bottom: 7px;
              }

              button {
                padding: 5px 10px;
                border: 1px solid #E5E5E5;
                border-radius: 16px;
                background-color: #fff;

                &:hover {
                  cursor: pointer;
                }
              }
            }

            select {
              padding: 7px 0;
              border: none;
              border-bottom: 1px solid #E5E5E5;
              background-color: transparent;
            }

            &:nth-child(5) {
              select {
                margin-bottom: 7px;
              }
            }

            .deleteBtn {
              padding: 5px 10px;
              border: 1px solid #E5E5E5;
              border-radius: 16px;
              background-color: #fff;

              &:hover {
                cursor: pointer;
              }
            }
          }
        }

      }
    }

    .btnGroup {
      display: flex;
      justify-content: center;

      button {
        padding: 10px 30px;
        border: none;
        font-size: 12px;

        &:first-child {
          margin-right: 16px;
          border: 1px solid #E5E5E5;
          background-color: #fff;
        }

        &:last-child {
          background-color: #09342C;
          color: #fff;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
