@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

$bgWhite: #fff;
$pointGreen: #09342c;
$textColor: #121212;


body {
  overflow-x: hidden;
  font-family: 'Poor Story', cursive;
}