$bgWhite: #fff;
$pointGreen: #09342c;
$textColor: #121212;
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);

input {
    outline: none;
}
