@import "../../styles/common.scss";
@import "../../styles/reset.scss";

.SignUp {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
    max-width: 1250px;
    width: 1250px;

    img {
        width: 85px;
        height: 85px;
        margin: 0 auto;
        border-radius: 50%;
        cursor: pointer;
    }
    input {
        height: 40.8px;
        padding: 5px 10px;
        border: 1px solid #e0e0e0;
    }
    p {
        margin: 25px 0 10px 0;
        font-size: 14px;
        font-weight: normal;
    }
    .checkIdPw {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
        border: 1px solid #e0e0e0;
        input {
            padding: 5px 10px;
            border: none;
            &:first-child {
                border-bottom: 1px solid #e0e0e0;
            }
            &:last-child {
                border-top: 1px solid #e0e0e0;
            }
        }
    }
    button {
        height: 45px;
        margin-top: 25px;
        color: white;
        background-color: $pointGreen;
        border: 1px solid $pointGreen;
    }
}
