$animation-duration: 350ms;

    .sideMenuBtn {
    z-index: 200;
    position: fixed;
    display: inline-flex;
    top: 25px;
    left: 50px;
    width: 26px;
    height: 20px;
    transition: $animation-duration;

        .topLineAct {
            top: 0px;
            background-color: #5CAB7D;
            transform: rotate(0deg) scale(1.0);
            transform-origin:top left;
        }

        .topLineInAct {
            top: 0px;
            background-color: #5A9367;
            transform: rotate(45deg) scale(1.0);
            transform-origin:top left;
        }
        
        .bottomLineAct {
            bottom: 0px;
            background-color: #5CAB7D;
            transform: rotate(0deg) scale(1.0);
            transform-origin:bottom left;
        }

        .bottomLineInAct {
            bottom: -2px;
            background-color: #5A9367;
            transform: rotate(-45deg) scale(1.0);
            transform-origin:bottom left;
        }

        .topLineAct, .topLineInAct, .bottomLineAct, .bottomLineInAct {
            position: absolute;
            width: 100%;
            height: 5px;
            transition: $animation-duration;
        }

    }

    .sideMenuBtn:hover {
        cursor: pointer;
    }

    .navBar {
        position: fixed;
        width: 100%;
        height: 68px;
        background-color: white;
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;

            .navContents {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 20px 50px;

                    .mainLogo {
                            height: 30px;
                            width: auto;
                    }

                    .socialIcon {
                        height: 20px;

                        .myPageBtn, .cartPageBtn, .wishPageBtn {
                            height: 100%;
                            transition: $animation-duration;
                        }

                        .cartPageBtn, .wishPageBtn {
                            margin-left: 20px;
                        }

                        .myPageBtn:hover, .cartPageBtn:hover, .wishPageBtn:hover {
                            opacity: 0.5;
                        }
                        
                    }

                }

            }


    .showSideBar {
        z-index: 100;
        background-color: #fbf6ee;
        width: 450px;
        height: 100vh;
        display: flex;
        justify-content: center;
        position: fixed;
        top: 0;
        left: -450px;
        padding: 20px 0;
        transform: translateX(450px);
        transition: all var(--animation-duration) ease-in
    }

    .hiddenSideBar {
        display: none;
    }